p {
  color: magenta;
}

.white {
  color: white;
}

.label {
  display: block;
}

.add-server {
  margin: 10px 0;
}

#logged-clicks,
#assign-3,
#username,
#server-name,
#server-create-status,
#allow-server {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#server-stats {
  @extend #server-create-status;
  margin-bottom: 20px;
}
