p {
  color: magenta;
}

.add-server {
  margin-top: 10px;
}

#server-name,
#server-create-status,
#allow-server {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#server-stats {
  @extend #server-create-status;
  margin-bottom: 20px;
}
