<label for="server"
    class="label">Server Name</label>
<!-- <input type="text"
    name="server"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input type="text"
    name="server"
    class="form-control"
    [(ngModel)]="serverName">
<button class="btn btn-primary add-server"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add server</button>

<label for="username"
    class="label">Username</label>
<input type="text"
    name="username"
    class="form-control"
    [(ngModel)]="username">
<button class="btn btn-primary add-server"
    [disabled]="!username"
    (click)="resetUser()">Reset</button>

<!-- <p id="server-name">{{ serverName }}</p> -->
<p id="username">{{ username }}</p>
<p id="server-create-status">{{ serverCreationStatus }}</p>
<p id="allow-server">This button is enabled: <b>{{ allowNewServer }}</b></p>
<!-- <p id="server-stats">{{ server }} with ID {{ serverId }} is {{ getServerStatus() }}</p> -->

<button class="btn btn-primary add-server"
    [disabled]="!username"
    (click)="toggleDisplay(); logClicks()">Display Details | {{ display }}</button>

<p id="assign-3" *ngIf="toggleDisplay()">go word, much full, plz swag, plz full. need elit. want text. very ipsum, such full, want text. need text!
    many lorem, so doge, very sit! need text! plz full. oh my swag! oh my amet, very sit! so doge, txt me, plz full. such
    aenean, much design. plz full. i iz cute?</p>

<p id="logged-clicks" [ngStyle]="{'background-color': i >= 5 ? 'blue' : ''}" [className]="i >= 5 ? 'white' : ''" *ngFor="let click of loggedClicks; let i = index">{{ loggedClicks[i] }}</p>
